@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-gc-palioka: var(--font-gc-palioka);
  --font-jarkata-sans: var(--font-jarkata-sans);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jarkata-sans), Helvetica, sans-serif;
}
